@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Montserrat';
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.rainbow-border {
  animation: spin 2.5s infinite linear;

  background:
    linear-gradient(to bottom, #98c1d9, #98c1d9) padding-box,
    /* ends at inner border edges */
      conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(0.85 0.37 0) 0 0
      )
      border-box;

  border: 3px solid transparent;
}
